@using Project_64130005.Models
@{
    Project_64130005Entities1 _db = new Project_64130005Entities1();
    KhachHang khSession = (KhachHang)Session["Taikhoan"];
    KhachHang kh = _db.KhachHangs.Find(khSession.MaKH);
}
<nav class="category">
    <div class="center">
        @{ if (kh.AnhKH != null)
            {
                <img src="~/Images/KhachHang/@Url.Content(kh.AnhKH)"
                     alt="" class="navbar__item-user-avt">
            }
            else
            {
                <img src="~/Images/KhachHang/user.jpg" alt="" class="navbar__item-user-avt">
            }
        }

        <h3 class="category__heading">
            <span class="profile__user-name">@kh.FullName()</span>
        </h3>
    </div>

    <ul class="category-list">
        <li class="category-item">
            <a href="@Url.Action("Details", "KhachHang_64130005")" class="category-item__link"> Tài khoản của tôi</a>
        </li>
        <li class="category-item">
            <a href="@Url.Action("OrderList_64130005", "KhachHang_64130005")" class="category-item__link">Đơn mua</a>
        </li>
        <li class="category-item">
            <a href="@Url.Action("ChangePassword_64130005", "KhachHang_64130005", new { idUser = kh.MaKH})" class="category-item__link">Đổi mật khẩu</a>
        </li>
    </ul>
</nav>
